      <%= javascript_include_tag "excanvas" %>
      <%= javascript_include_tag "chart" %>
      <%= javascript_include_tag "jqplot.pieRenderer" %>
    <%= stylesheet_link_tag    "jquery.jqplot.min" %>
      <script type="text/javascript">
      jQuery(function(){ 
        var yesValue = <%= @yesCount %>;//'<%= @yesCount / (@yesCount + @noCount) * 100 %>' ;
        var noValue = <%= @noCount %>;//'<%= @noCount / (@yesCount + @noCount) * 100 %>' ;
        var totValue = yesValue + noValue;
        var data = [['Yes ('+ yesValue + ')',yesValue], ['No ('+ noValue + ')',noValue]];             
        var plot8 = $.jqplot('chart_div', [data], {
                  grid: {            
                      drawBorder: false,
                      drawGridlines: false,
                      background: '#ffffff',
                      shadow:false
                  },
                  axesDefaults: {
                      
                  },
                  title: 'Total Results: ' + totValue,
                  seriesDefaults:{
                      renderer:$.jqplot.PieRenderer,
                      rendererOptions: {
                          showDataLabels: true
                      }
                  },
                  legend: {
                      show: true,
                      rendererOptions: {
                          numberRows: 1
                      },
                      location: 's'
                  }
              });
      });
    </script>

    <div id="main">
      <div class="5grid-layout">
        <div class="row main-row">
          <div class="8u">            
            <section class="left-content mobileUI-main-content">
    					<h2><%= @vehicle.state_code %> - <%= @vehicle.state_number.to_s.rjust(2, '0') %> - <%= @vehicle.plate_letter %> - <%= @vehicle.plate_number.to_s.rjust(4, '0') %> </h2>
    					<p>Here are the results for the vehicle based upon earlier submissions.</p>
    					<div id="chart_div" style="height:400px;width:300px;"></div><br>
              <p>Feel free to <%= link_to "Search", vehicles_path %> another or if you would like to correct or enhance our results <%= link_to "Submit", new_vehicle_path %> a Record</p>
  				  </section>
			    </div>
          <div class="4u">
            <section>
              <h2>What Next?</h2>
              <ul class="small-image-list">
                <li>
                  <%= link_to image_tag("search.png", :class => "left"), vehicles_path %>
                  <h4>Search</h4>
                  <p>Search another vehicle using their license</p>
                </li>
                <li>
                  <%= link_to image_tag("add.png", :class => "left"), new_vehicle_path %>
                  <h4>Submit</h4>
                  <p>Submit a Record to strengthen our database. </p>
                </li>
              </ul>
            </section>
          
            <section>
              <h2>Enforcement Agencies?</h2>
              <div class="5grid">
                <div class="row">
                  <div class="6u">
                    <ul class="link-list">
                      <li><a href="http://peso.gov.in/contactus.aspx" target="_default">Chief Controller of Explosives</a></li>
                      <li><a href="http://mahapolice.gov.in/" target="_default">State Police</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>

          </div>
    		</div>
	    </div>
    </div>



